body {
  margin: 0;
}

.main {
  z-index: 0;
}

.background {
  background-image: url(frame_0.jpg);
  background-repeat: repeat;
  position: absolute;
  opacity: 0.05;
  width: 100vw;
  height: 2000px;
  z-index: -1;
  /* filter: alpha(opacity=20); */
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0px 20px;
  /* border-bottom: 1px solid #0013E5; */
  /* margin-bottom: 30px; */
}

h1 {
  font-family: Helvetica;
  color: #0013E5;
  font-weight: 500;
  font-size: 40px;
}

.links {
  margin-top: 25px;
  font-size: 30px;
  margin-right: 10px;
  padding: 10px;
}

.links > a {
  margin-left: 10px;
  color: #0013E5;
}

.intro {
  padding-bottom: 40px;
  border-bottom: 1px solid grey;
}

.boardAndInfo {
  display: flex;
  flex-direction: row;
}

.boardData {
  max-width: 250px;
}

.stats {
  padding-top: 20px;
  line-height: 50px;
  letter-spacing: .5px;
}

.percentageInput {
  margin: 0;
  margin-top: 10px;
  margin-left: 30px;
  line-height: 25px;
}

#percentageInput {
  width: 150px;
  padding: 3px;
  border-radius: 2px;
}

#percentage {
  margin-top: 10px;
  margin-left: 0px;
}

.boardAndButtons {

  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.boardGrid {
  display: flex;
  flex-direction: row;
  width: 480px;
  height: 480px;
  flex-wrap: wrap;
  line-height: 8px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
}

.tile {
  min-width: 6px;
  height: 6px;
  background-color: white;
  list-style: none;
  display: block;
  border: 1px solid grey;
  font-size: 10px;
  padding: 0;
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

.living {
  background-color: #0013E5;
}

p {
  margin-left: 20px;
  margin-right: 40px;
}

p, .button, .stats, .textList{
  font-family: 'Playfair Display', serif;
}

.textList {
  margin-bottom: 40px;
}

input {
  border-radius: 2px;
  width: 50px;
}

.button {
  background-color: white;
  padding: 5px 10px;
  border-radius: 3px;
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}

.statsAndOptions {
  margin-left: 30px;
  margin-top: 20px;
}


