body {
  margin: 0;
}

.main {
  background-color: #e6ffff;
  /* display: flex;
  flex-direction: row; */
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid #ffa500;
  margin-bottom: 30px;
}

h1 {
  font-family: Helvetica;
  color: #ffa500;
  font-weight: 500;
  font-size: 40px;
}

.links {
  margin-top: 25px;
  font-size: 30px;
  margin-right: 10px;
  padding: 10px;
}

.links > a {
  margin-left: 10px;
  color: orange;
}

.intro {
  border-bottom: 1px solid grey;
}

.board {
  display: flex;
  flex-direction: row;
  width: 480px;
  height: 480px;
  flex-wrap: wrap;
  line-height: 8px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 40px;
  padding-top: 20px;
}

.tile {
  min-width: 6px;
  height: 6px;
  background-color: white;
  list-style: none;
  display: block;
  border: 1px solid grey;
  font-size: 10px;
  padding: 0;
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

.living {
  background-color: black;
}

p {
  margin-left: 20px;
  max-width: 700px;
}

p, .button, .stats, .textList{
  font-family: 'Playfair Display', serif;
}

.textList {
  margin-bottom: 40px;
}

input {
  border-radius: 2px;
  width: 50px;
}

.button {
  background-color: white;
  padding: 5px 10px;
  border-radius: 3px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.statsAndOptions {
  margin-left: 30px;
  margin-top: 20px;
}

.stats {
  line-height: 20px;
  letter-spacing: .5px;
}
