.board {
  display: flex;
  flex-direction: row;
  width: 600px;
  height: 600px;
  flex-wrap: wrap;
  line-height: 10px;
}

.tile {
  min-width: 8px;
  height: 8px;
  background-color: white;
  list-style: none;
  display: block;
  border: 1px solid grey;
  font-size: 10px;
  padding: 0;
  margin: 0;
}

.living {
  background-color: black;
}

.button {
  background-color: white;
  padding: 5px 10px;
  border-radius: 3px;
}

.stats {
  margin-top: 30px;
  line-height: 20px;
}
